.picklist-objects-class{
    padding: 1rem;
    cursor:context-menu;
    width: 24rem;
}

.header-class{
    display: flex;
    justify-content: space-between;
}

.query-class{
    width: 50rem;
    padding: 1rem;
}

.execute-class{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.empty-result-class{
    padding: 1rem;
    font-weight: bold;
    font-size: 14px;
}

.def-fields-class{
    font-size: 16px !important;
    font-weight: 600 !important;
    padding-top: 1rem;
    padding-left: 1rem;
}

.inline-elems-class{
    display: flex;
    justify-content: space-between;
}

.table-name-class{
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    padding-bottom: 1rem;
}

.compare-button-class{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.additional-table-main-class{
    display: inline-block !important; 
    overflow: auto;
    max-width: 86rem;
    width: 100%;
    background-color: #eaeaea;
}

.position-relative-class{
    position: relative;
}

.textarea-parent-class{
    display: flex; 
    padding-left:1rem;
    margin-right: 1rem;
}

.textarea-class{
    width: 30rem; 
    padding-left: 1rem;
}

.where-class{
    padding-top: 3rem;
    font-weight: bold;
}

.input-limit-class{
    padding-left: 1rem; 
    padding-top: 1rem; 
    max-width: 12rem;
}

.font-style-class{
    font-weight: bold;
}

.str-selected-class{
    padding-left: 1rem; 
    padding-top: 1rem;  
    font-size: 1rem;     
    max-width: 83rem;
}

.str-parent-selected-class{
    padding-left: 1rem; 
    padding-top: 1rem; 
    font-size: 1rem;
}

.disp-flex-class{
    display: flex;
}

.pad-top-class{
    padding-top: 3rem;
}

