.THIS .title-class {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5rem;
}


.THIS .ms-filter-input{
    margin: 0px 5%;
    width: 50%;
    height: 30px;
    border-radius: 2px;
    border-style: solid;
    border-width: thin;
    border-color: darkgray;
    padding: 2px 5px;
}

.THIS .ms-input{
    border: 1px solid rgb(217, 219, 221);
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
}

.THIS .ms-refresh-icon{
    position: absolute;
}

.THIS .ms-clear-icon{
    position: absolute;
}

.THIS .ms-dropdown{
    max-height: 500px;
    overflow-y: auto;
}

.THIS .main-div-class{
    display: flex; 
    justify-content: space-between;
}

.THIS .first-inner-div-class{
    display:flex;
}

.THIS .second-inner-div-class{
   width: 22rem;
   margin-left: 1rem;
}

.THIS .input-checkbox-class{
    padding-top: 2.2rem; 
    padding-left: 1rem;
}

.THIS .multi-select-class{
    width: 22rem; 
    margin-right: 3rem;
}

.THIS .input-div-class{
    width: 21rem;
}